body{background-image: url('imagenesbody/fondopaisaje2.jpg');
	background-size:100%;}
#general {width:55%;height:90%;margin:0 auto}
section{background-color:white;}
aside{background-color: white;}

/*CABECERA*/
#flexcabecera{display: flex;flex-direction:row;flex-wrap: wrap;
justify-content: space-between;background-color: #242020;color:white;
margin:0;padding:12px;
font-family:Bahnschrift ,SemiBold ,SemiConden;font-size: 60%;}
#flexconta{display: flex;flex-wrap: wrap;align-items:center;}
#flexconta div {margin: 2px;}
#conta1{border-right-style: solid;padding:2px;border-right-width:2px;}
#flexconta a {color:white;text-decoration: none;}
/*TITULO HEADER*/
header{background-color: white; padding:0;margin:0;}
header h1 {font-family: 'Permanent Marker', cursive;font-size:25px;}
header img {width: 40px;height: 32px;}
.logos img {width:22px;height:22px;margin:1px}
#azul{color:#0083FF}
#rojo{color:rgb(219, 0, 0)}

#flextitulo {display:flex;flex-wrap:wrap;justify-content:space-around;align-items: center;}

/*FIN DE T.HEADER*/
/*SUBMENU*/

.contenedor {width:100%;background:white;border-top-style: solid;
border-top-color:#CFCDCD;border-top-width:1px;}
.contenedor ul, .contenedor li {margin: 0;padding: 0;}
.contenedor ul {background: black;list-style: none;width: 100%;}
.contenedor li {float: left;position: relative;width:auto;}
.contenedor a {background: white;
	color:#828080;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-family: "Franklin Gothic Medium";	
}

.contenedor li:hover a {background: #000000;color:white}
.submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;	
}
li:hover ul.submenu {opacity: 1;top: 40px;visibility: visible;}
.submenu li {float: none;width: 100%;}
.submenu a:hover {background: #DF4B05;}
.submenu a {background-color:#000000;}
.cf {clear:both}

/* SECTION IMAGENES */
section{background-color:#E86D01;color:white;padding:12px
;font-family:Bahnschrift, SemiBold, SemiConden ;}
/* FIN DE SECTION*/

/*ASIDE*/
iframe{width:100% ;}
/*FIN DE ASIDE*/

/*FOOTER*/
footer{background-color: white;color:#515151;
	font-family:Bahnschrift, SemiBold, SemiConden;}
#flexfooter {display: flex;flex-wrap: wrap;flex-direction: row;}
.subfot{width:45% ;height: 45%;margin:20px ;}
#flexfooter input {margin:4px;border-color:#C7C4C4}
textarea{font-family:Bahnschrift, SemiBold, SemiConden;}
.flexcondi{display: flex;flex-direction: row;flex-wrap: wrap; margin:1px}
.flexcondi input,label{display: block;}
span {color:#D69100}
form p {font-size:55%;}
.subfot2 p{margin:0;display:block ;}
#ultihorario {border-top-style:solid}
#ultihorario p {display: block;margin:0}
i{color:#D69100;border-style: solid;padding:7px;
	border-radius: 200px 200px 200px 200px;}
/*FINAL DE FOOTER*/

/*FINAL*/
#final{display:flex;flex-wrap: wrap;justify-content:space-around;
flex-direction:row;background-color:black;color:white;
font-size:8px;font-family:arial;}
#final div {width:20%;height:35%;padding:10px;margin:5px}
#final div p{display: block;margin:0}
#pajaro{width: 60px;height:52px}
#final a {color:white;text-decoration:none}
#final a:hover{color:#DF4B05}

/*MEDIA*/
@media only screen and (max-width:1000px) {
	#final {display:none ;}
	#flexcabecera a {display:none ;}
	#flextitulo h1{width:50%;height:50%;margin:25px;text-align: center;}
	.logos {display:none}
	.contenedor ul{display:block;}
	.contenedor ul {display: flex;flex-direction:column;flex-wrap: wrap;
	justify-content: flex-start;}
form{display: none;}	

}